<%inherit file="../../main.html"/>
<%!
from student.models import CourseEnrollment
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%
	unenrolled_students = CourseEnrollment.objects.filter(course_id=course_id, is_active=False)
%>
% if unenrolled_students:
<h1 align="center">Unenrolled Students</h1>
<div class="container">
	<table id="unenrolled_datatable" class="table table-striped table-bordered thead-inverse" width="100%">
		<thead>
			<tr>
				<th>Student Name</th>
				<th>Email Address</th>
				<th>Mode</th>
				<th>IsActive</th>
			</tr>
		</thead>
		<tbody>
			% for unen in unenrolled_students:
				<tr>
					<td>${unen.user.first_name} ${unen.user.last_name}</td>
					<td>${unen.user.email}</td>
					<td>${unen.mode}</td>
					<td>${unen.is_active}</td>
				</tr>
			% endfor
		</tbody>
	</table>
</div>
% else:
	<h1 align="center">Unenrolled students are not available</h1>
% endif
