// LMS - assets - fonts
// ====================
@font-face {
    font-family: 'Levenim MT';
    src: url('#{$static-path}/custom_css/LevenimMT.eot');
    src: url('#{$static-path}/custom_css/LevenimMT.eot?#iefix') format('embedded-opentype'),
        url('#{$static-path}/custom_css/LevenimMT.woff2') format('woff2'),
        url('#{$static-path}/custom_css/LevenimMT.woff') format('woff'),
        url('#{$static-path}/custom_css/LevenimMT.ttf') format('truetype'),
        url('#{$static-path}/custom_css/LevenimMT.svg#LevenimMT') format('svg');
    font-weight: normal;
    font-style: normal;
}