@font-face {
    font-family: 'Levenim MT';
    src: url('LevenimMT.eot');
    src: url('LevenimMT.eot?#iefix') format('embedded-opentype'),
        url('LevenimMT.woff2') format('woff2'),
        url('LevenimMT.woff') format('woff'),
        url('LevenimMT.ttf') format('truetype'),
        url('LevenimMT.svg#LevenimMT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'levenim_mtbold';
    src: url('levenim_mt-2-webfont.eot');
    src: url('levenim_mt-2-webfont.eot?#iefix') format('embedded-opentype'),
         url('levenim_mt-2-webfont.woff2') format('woff2'),
         url('levenim_mt-2-webfont.woff') format('woff'),
         url('levenim_mt-2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*common style start*/
body, .instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link{font-family: 'Levenim MT'}
.content-wrapper{min-height: 351px;}
.content-wrapper .course-info{margin-top: 70px;}
.content-wrapper .courses .course-info{margin-top:0;}
body.view-in-course .content-wrapper{padding-bottom: 25px;}
.course-info header.course-profile .intro-inner-wrapper .media .hero img{max-height: 200px;}
.wrapper-course-material .course-tabs li a{color: #5e5e5e!important;}
.page-header-search .search-input:focus{border-color: #93b045;}
.page-header-search .search-form .search-button:hover, .page-header-search .search-form .search-button:focus{color: #fff; background:#93b045;}
.tabs .tab a:visited:hover, .tabs .tab a:visited:focus, .tabs .tab a.active, .tabs .tab a:visited.active, .wrapper-course-material .course-tabs li a.active, .wrapper-course-material .course-tabs li a:hover, .wrapper-course-material .course-tabs li a:focus, .wrapper-course-material .course-tabs li a:active{color: #93b045 !important; border-bottom-color:#93b045;}
.content-wrapper .page-header.has-secondary .page-header-secondary .form-actions .action-resume-course{background: #93b045; border-color:#93b045;}
.page-header-search .search-form .search-button, .course-outline .block-tree .section ol.outline-item .subsection.current, .course-outline .block-tree .section ol.outline-item .subsection.current a, .course-outline .block-tree .section ol.outline-item .subsection:hover, .course-outline .block-tree .section ol.outline-item .subsection:focus{color: #93b045; border-color:#93b045 }
.copy-lead a, .copy-large a, .copy-base a, .alert-copy a, .alert-copy-with-title a, .copy-meta a, .table caption a, .table-simplified caption a, .copy-micro a, .wrapper-footer footer#footer-openedx a, a, .link, .btn-link, .table-sortable .sortable .action-sorta{color: #93b045;}
/*common style end*/

/*header css start*/
#header, #footer{font-family: 'Levenim MT' !important}
#header *, #header *:before, #header *:after, #footer *, #footer *:before, #footer *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#header .navbar-default {background-color: #fff;border-color: #94d3dd;border-bottom: 2px solid #94d3dd;}
#header .navbar:before, #header .navbar:after, .custom-container:before, .custom-container:after,
#header .navbar-header:before, #header .navbar-header:after, #navbar:before, #navbar:after, #header .navbar-nav:before, #header .navbar-nav:after{display: table;content: " ";}
#header .navbar:after, .custom-container:after, #header .navbar-header:after, #navbar:after, #header .navbar-nav:after{clear: both;}
#header .navbar-toggle {position: relative;float: right;padding: 9px 10px;margin-top: 20px;margin-right: 15px;margin-bottom: 8px;background-color: #93b045;background-image: none;border: 1px solid #ddd;border-radius: 0;}
#header .sr-only {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
#header .navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
#header .navbar-toggle .icon-bar {display: block;width: 22px;height: 2px;border-radius: 1px;}
#header .navbar-toggle .icon-bar + .icon-bar {margin-top: 4px;}
#header .navbar-brand > img {display: block;max-width: 100%;}
#header ul.right-top {float: right;width: auto;padding: 21px 0 0 0;margin: 0 0 0 40px;list-style: none;position: relative;}
#navbar .right-top:after {width: 1px;height: 27px;background: #c2c2c2;content: '';position: absolute;left: -5px;top: 27px;}
#header ul.right-top li {float: left;font-size: 18px;padding: 0 7px;}
#header ul.right-top li a {color: #aea9ae;text-decoration: none;padding: 0 9px;display: block;line-height: 36px;}
#header ul.right-top li a .fa-sign-out{padding-top: 10px;}
#header ul.right-top li a.btn {border: 1px solid #aea9ae;width: 88px;font-size: 18px;}
#header .vision {float: right;padding-top: 8px;padding-left: 36px;}
#header .vision img{max-width: 100%;}
#header .navbar-default .navbar-nav > .active > a,
#header .navbar-default .navbar-nav > .active > a:hover,
#header .navbar-default .navbar-nav > .active > a:focus {color: #93b045;background-color: transparent;}
.custom-container{padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
#header .navbar-default .navbar-nav > li > a {color: #aea9ae;}
.custom-container .navbar-header, .custom-container .navbar-collapse{margin-right: -15px;margin-left: -15px;}
#header .navbar-collapse {padding-right: 15px;padding-left: 15px;overflow-x: visible;-webkit-overflow-scrolling: touch;border-top: 1px solid transparent;-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);}
#header .collapse {display: none;}
#header .collapse.in {display: block;}
#header .navbar-nav {margin: 7.5px -15px;}
#header .nav > li {position: relative;display: block;}
#header .nav > li > a{position: relative;display: block;padding: 10px 15px;}
#header ul.header-rightbar{padding-top: 12px;}
#header .header-rightbar >li {float: left;list-style-type: none;}
#header .usermenu {position: relative;}
#header ul.header-rightbar >li> a {line-height: 37px;padding: 13px 15px 12px;position: relative;display: block;text-decoration: none;}
#header .usermenu a img {max-width: none;width: 34px;height: 34px;border-radius: 50%;margin-right: 10px;border: 0;vertical-align: middle;}
#header .header-rightbar >li> a .fa-angle-down {float: right;padding-top: 9px;padding-left: 4px;}
#header .header-rightbar >li> a .user-name {float: right;overflow: hidden;text-overflow: ellipsis;max-width: 200px;white-space: nowrap;}
#header .usermenu>a:hover {background: #D9DEE4;}
#header .usermenu .dropdown-menu {margin-top: 0;border-top-left-radius: 0;border-top-right-radius: 0;right: 0;left: auto;box-shadow: none;float: left;font-size: 12px;left: 0;list-style: none;padding: 0;position: absolute;text-shadow: none;top: 100%;z-index: 9998;border: 1px solid #D9DEE4;border-top-left-radius: 0;border-top-right-radius: 0;}
#header .usermenu.open .dropdown-menu {position: absolute;background: #fff;margin-top: 0;border: 1px solid #D9DEE4;-webkit-box-shadow: none;right: 0;left: auto;width: 160px;}
#header .usermenu ul.dropdown-menu li {width: 100%;font-size: 15px;}
#header .usermenu ul.dropdown-menu li:hover, #header .usermenu ul.dropdown-menu li:focus{background: #D9DEE4;}
#header .dropdown-menu > li > a {font-weight: 600;display: block;clear: both;font-weight: 400;line-height: 1;color: #333 ;white-space: nowrap;width: auto;padding: 12px 20px;cursor: pointer;}
#header ul.header-rightbar .dropdown-menu > li > a:hover, #header ul.header-rightbar .dropdown-menu > li > a:focus {color: #93b045;}
#header .hidden {display: none !important;visibility: hidden;}
@media (min-width: 768px) {
    .custom-container {width: 750px;}
}
@media (min-width: 992px) {
    .custom-container {width: 970px;}
}
@media (min-width: 1200px) {
    .custom-container {width: 1170px;}
    #header .hidden-lg {display: none !important;}  
}
@media (max-width: 991px) and (min-width: 768px){
    #header .hidden-sm {display: none !important;}
}
@media (max-width: 1199px) and (min-width: 992px){
    .hidden-md {display: none !important;}
}


/*footer css start*/
#footer{background:#545454;padding:30px 0 40px; overflow: hidden;}
#footer .fot-col{width:18%;float: left;}
#footer .fot-col.big{ width: 23%;}
#footer h4{color: #fff; font-size: 24px;line-height:25px;margin-bottom:35px; margin-top:30px; text-transform: uppercase; font-family: inherit; }
#footer ul{list-style:none;padding: 0; margin: 0;}
#footer ul li{float: left;width: 100%;line-height:32px;}
#footer ul li a{color: #fff; font-size: 21px; text-decoration:none;}
#footer ul li a:hover{color:#93b045;}
#footer .fot-col.last{ width: 23%;}
#footer .fot-logo{width:100%; display: inline-block; text-align: right;}
#footer .fot-col img{max-width: 100%;}
#footer .followers{width:100%; display: inline-block; margin-top:40px; }
#footer .copyright{width: 100%;overflow: hidden;padding: 40px 0 0; text-align: center;}
#footer .copyright p{margin:0;font-size: 18px;line-height: 24px;color: #fff; }
/*footer css end*/


@media(max-width:1200px) {
    #header ul.right-top li {padding: 0 3px;}
    #header .vision {width: 100px;padding-top: 15px;padding-left: 15px;}
}
@media(max-width:1023px) {
    #header .navbar > .custom-container .navbar-brand, #header .navbar > .container-fluid .navbar-brand{max-width: 145px; float: left;padding: 12px 15px;}
    #header .navbar-default{padding-bottom:5px;}
    #header .navbar-default .navbar-nav > li > a{line-height: 30px;}
    #header ul.right-top {margin-left: 10px;}
}
@media (min-width: 768px){
    .custom-container .navbar-header, .custom-container .navbar-collapse {margin-right: 0px;margin-left: 0px;}
    #header .navbar-toggle {display: none;}
    #header .navbar-default .navbar-brand {color: #777;margin-left: -15px;}
    #header .navbar-brand {float: left;padding: 12px 15px;}
    #header .navbar {border-radius: 0px;}
    #header .navbar {position: relative;}
    #header .navbar-collapse.collapse {display: block !important;height: auto !important;padding-bottom: 0;overflow: visible !important;width: auto;border-top: 0;-webkit-box-shadow: none;box-shadow: none;padding-right: 15px;padding-left: 15px;}
    #header .navbar-nav {float: right;margin: 0;width: auto;padding-top: 20px;padding-left: 0;list-style: none;}
    #header .navbar-nav > li {float: left;}
    #header .navbar-nav > li > a {padding-top: 0;padding-bottom: 0;line-height: 38px;font-size: 24px;background: none;}
    #header .navbar-header {float: left;}
}
@media(max-width:767px) {
    #header .navbar-default .navbar-nav > li > a{font-size: 20px; border-bottom: 1px solid #93b045}
    #header .navbar-header ul.right-top.hidden-md{display: inline-block; padding-right: 10px;padding-top:19px; }
    #header .vision, #header ul.right-top {display: none;}
    #footer .fot-col.big, #footer .fot-col.last, #footer .fot-col {width: 100%;margin: 0 0 20px 0;}
    #footer h4 {margin-bottom: 10px;}
}
@media(max-width:479px) {
    #header .navbar > .custom-container .navbar-brand, #header .navbar > .custom-container-fluid .navbar-brand{width:100px; padding-right:0; }
    #header .navbar-header ul.right-top.hidden-md{padding-top:15px; }
    #header .navbar-toggle{margin-top: 15px;}
    #header ul.right-top li {padding: 0 2px;}
    #header .navbar-header ul.header-rightbar.hidden-md{padding-top: 0}
}
@media(max-width:991px) {
    #header .navbar-nav > li > a{ font-size:16px;padding:10px;}
    #footer h4 {font-size: 20px;}
    #footer ul li a {font-size: 16px;}
}
