@import 'common/static/sass/edx-pattern-library-shims/base/variables'


$uxpl-blue-base: #66ab4c; // wcag2a compliant
$btn-brand-background: #66ab4c;
$btn-brand-focus-background: #93d3de;
$btn-brand-focus-border-color: #93d3de;
