<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container static-content">
        <h1>${_("Contact")}</h1>
        % if LANGUAGE_CODE == "ar":
            <p>نشكر لك اهتمامكم بالتواصل معنا حيث يمكنك ذلك أينما كنت عبر قنوات التواصل التالية :</p>
            <p>البريد الالكتروني : kkux@kku.edu.sa</p>
            <p>تويتر عبر الحساب : kkuxedu@</p>
            <p>التواصل عن طريق الاتصال او WhatsApp الرقم 0531603182 </p>
        % else:
            <p>Thank you for your interest, You can contact us anytime by:</p>
            <p>e-mail: kkux@kku.edu.sa</p>
            <p>Twitter account: @kkuxedu</p>
            <p>Calling or WhatsApp 0531603182</p>
        % endif 
    </section>
</main>

