{% extends "admin/change_list.html" %}
{% load i18n admin_static %}
{% block extrastyle %}
  {{ block.super }}
    <style type="text/css">
    	.notification{display: none;}
        .report_text{display: none;}
        .f_notification{display: none;}
        #wait{text-align: center; display: none;}
  	</style>
{% endblock %}
{% block object-tools-items %}
{% if request.user.is_superuser %}
    <li>
        <a href="javascript:;" id="export_alluser" class="btn btn-high btn-success">Export All Student</a>
    <li>
    <li>
        <a href="javascript:;" id="export_all_subscribers" class="btn btn-high btn-success">Export KKUx news letter all subscribers.</a>
    <li>    <li>
        <a href="javascript:;" id="export_request" class="btn btn-high btn-success">Force To Update All Student</a>
    <li>        
{{ block.super }}
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $("#export_request").click(function() {
            $.ajax({
                type: "GET",
                data: {},
                url: "export/",
                success: function(response) {
                    $(".f_notification").css("display", "block")
                    console.log("All Students ForceToUpdate Enable Successfully.")               
                },
                error: function(response){
                    console.log(response)
                }
            });
        });
        $("#export_alluser").click(function() {
            $(".notification").css("display", "block")
            $("#wait").css("display", "block")
            $(".report_text").css("display", "block")
            $('html, body').animate({scrollTop:$(document).height()}, "slow");
            $.ajax({
                type: "GET",
                data: {},
                url: "export_alluser/",
                success: function(response) {
                    $("#wait").css("display", "none")
                    $(".download_report").html("<a class='download-report' href='" + response.csv_url + "'><b>" + "Students Data" + "</b></a>")              
                },
                error: function(response){
                    console.log(response)
                }
            });
        });
        $("#export_all_subscribers").click(function() {
            $(".notification").css("display", "block")
            $("#wait").css("display", "block")
            $(".report_text").css("display", "block")
            $('html, body').animate({scrollTop:$(document).height()}, "slow");
            $.ajax({
                type: "GET",
                data: {},
                url: "export_all_subscribers/",
                success: function(response) {
                $("#wait").css("display", "none")
                $(".download_report_subscribers").html("<a class='download_report_subscribers' href='" + response.csv_url + "'><b>" + "Subscribers Students Data" + "</b></a>")      
                },
                error: function(response){
                    console.log(response)
                }
            });
        });
    })
})(django.jQuery);
</script>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }} 
    <div class="notification">
        <ul class="messagelist">
          <li class="success">Export request report is in process. Please wait to download report.</li>
        </ul>
    </div>
    <div class="f_notification">
        <ul class="messagelist">
          <li id="forceTo_update_success">All Students ForceToUpdate Enable.</li>
        </ul>
    </div>
    

{% endblock %}


{{% block content %}
    {{ block.super }}
    <h2 class="report_text">Downloaded Report</h2>
    <div id="wait">
        <img src="{% static 'images/ajax-loader.gif' %}">
    </div>
    <div class="download_report_subscribers"></div>
    <div class="download_report">
    </div>
{% endblock %}