<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>kkux</title>
<link rel="stylesheet" type="text/css" href="css/docs.css">
</head>
<body>
	<div class="page">
		<div class="center">
			<div class="certificate">
				<div class="left-logo"><a href="#"><img src="images/left-logo.png" alt=""></a></div>
				<div class="logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
				<div class="text1">تشهد منصة جامعة الملك خالد KKUx بأن</div>
				<div class="text2">عبدالله القحطاني</div>
				<div class="text3">Abdullah Al Qahtani</div>
				<div class="text4">قد أكمل بنجاح جميع متطلبات المقرر المهاري في</div>
				<div class="text5">التفكير التصميمي</div>
				<div class="text6">Design Thinking Course</div>
				<div class="text7">1 - 31 Oct 2017 </div>
				<div class="bottom-text">
					<div class="left-text">
						<div class="bottom-logo"><a href="#"><img src="images/bottom-logo.png" alt=""></a></div>
						<div class="text">
							<p>KKUx is part of King Khalid University where anyone can find a professional online courses for the most important skills needed for future jobs. This certificate has granted after the participant has successfully completed the course requirements.  </p>
							<span>Candidate Serial Number: <label>KKUX-DT0137</label></span>
						</div>
					</div>
					<div class="stemp-img"><img src="images/stem-img.png" alt=""></div>
					<div class="signature">
						<img src="images/signature-img.png" alt="">
						<span>د. فهد عبدالله الاحمري</span>
						<span class="color"> عميد التعلم الإلكتروني</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>
