## mako
<%page expression_filter="h"/>
<%!
    from datetime import datetime
    from django.core.urlresolvers import reverse
    from django.utils.translation import ugettext as _
    from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<% year = datetime.now().year %>
<%namespace name='static' file='static_content.html'/>

<footer class="footer">
    <div class="custom-container">
        <div class="fot-col">
            <h4>${_('About')}</h4>
            <ul>
                <li><a href="${reverse('about')}">${_('Mission')}</a></li>
                <li><a href="${reverse('about')}">${_('Vision')}</a></li>
                <li><a href="http://eld.kku.edu.sa/">${_('ELD Website')}</a></li>
            </ul>
        </div>
        <div class="fot-col">
            <h4>${_('Terms')}</h4>
            <ul>
                <li><a href="${reverse('tos')}">${_('Copyright')}</a></li>
                <li><a href="${reverse('tos')}">${_('Publishing Rules')}</a></li>
                <li><a href="${reverse('tos')}">${_('Data Use Policy')}</a></li>
            </ul>
        </div>
        <div class="fot-col big">
            <h4>${_('ELD Open Learning')}</h4>
            <ul>
                <li><a href="http://ocw.kku.edu.sa/">${_('Open CourseWare')}</a></li>
                <!--<li><a href="http://olomna.org/">${_('Olomna')}</a></li>-->
		<li><a href="https://elearning.kku.edu.sa/kkunow">${_('Tazamun')}</a></li>
                <li><a href="https://www.youtube.com/user/kkuTamkeen">${_('Tamkeen')}</a></li>
            </ul>
        </div>
        <div class="fot-col">
            <h4>${_('Contact')}</h4>
            <ul>
                <li><a href="${reverse('contact')}">${_('Contact us')}</a></li>
            </ul>
        </div>
        <div class="fot-col last">
            <div class="fot-logo"><img src="${static.url('images/footer-logo.png')}" alt="" ></div>
            <div class="followers text-left"><a href="https://twitter.com/kkuxedu" class="twitter-follow-button" data-lang="${LANGUAGE_CODE}" data-size="large" data-toggle="tooltip" data-placement="left">Follow @kkuxedu<i class="fa fa-twitter"></i></a></div>
        </div>
        <div class="copyright">
            <p>${_('KKUx All Right Reserved')} ${year} ©</p>
        </div>
    </div>
</footer>
<%block name="js_extra">
<script>
$( window ).load(function() {
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
});
</script>
</%block>
