	## mako
<%page expression_filter="h"/>
<%!
	from datetime import datetime
	from django.core.urlresolvers import reverse
	from django.utils.translation import ugettext as _
	from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<% year = datetime.now().year %>
<%namespace name='static' file='static_content.html'/>

<footer class="footer" id="footer">
	<div class="custom-container">
		<div class="fot-col">
			<h4>About</h4>
			<ul>
				<li><a href="/mission">Mission</a></li>
				<li><a href="/vision">Vision</a></li>
				<li><a href="http://eld.kku.edu.sa/">ELD Website</a></li>
			</ul>
		</div>
		<div class="fot-col">
			<h4>Terms</h4>
			<ul>
				<li><a href="/copyright">Copyright</a></li>
				<li><a href="/publish_rules">Publishing Rules</a></li>
				<li><a href="data_use_policy">Data Use Policy</a></li>
			</ul>
		</div>
		<div class="fot-col big">
			<h4>ELD Open Learning</h4>
			<ul>
				<li><a href="http://ocw.kku.edu.sa/">Open CourseWare </a></li>
				<li><a href="http://olomna.org/">Olomna</a></li>
				<li><a href="https://www.youtube.com/user/kkuTamkeen">Tamkeen</a></li>
			</ul>
		</div>
		<div class="fot-col">
			<h4>Contact</h4>
			<ul>
				<li><a href="/contact">Contact us</a></li>
			</ul>
		</div>
		<div class="fot-col last">
			<div class="fot-logo"><img src="${static.url('images/footer-logo.png')}" alt="" ></div>
			<!-- <a class="twitter-follow-button" href="https://twitter.com/kkuxedu" data-size="large" data-lang="en">Follow @kkuxedu</a> -->
			<a href="https://twitter.com/kkuxedu"><div class="followers"><img src="${static.url('images/followers.jpg')}" alt="" ></div></a>
		</div>
		<div class="copyright">
			<p>©KKUx All Right Reserved ${year}</p>
		</div>
	</div>
</footer>
