## mako
<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<% 
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _, LANGUAGE_SESSION_KEY

from django.conf import settings
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

%>
<%page expression_filter="h" args="online_help_token"/>
<style type="text/css">
.usermenu{
    left: 15px;
    float: left;
    padding-left: 0px;
    margin-left: 0px;
}
</style>
<header id="header">
  <nav class="navbar navbar-default">
    <div class="custom-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
              <a class="navbar-brand" href="/"><img src="${static.url('images/logo.png')}" alt="KKUx" ></a>
          % if header_language_selector_is_enabled():
            <% languages = released_languages() %>
            % if len(languages) > 1:
              <ol class="user language_dropdown hidden">
                <li class="primary">
                  <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
                    <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
                    % if user.is_authenticated():
                      <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
                    % else:
                      <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
                    % endif
                    <label><span class="sr">${_("Choose Language")}</span>
                      <select class="input select language-selector" id="settings-language-value" name="language" hidden="true">
                        % for language in languages:
                          % if language[0] == LANGUAGE_CODE:
                            <option value="${language[0]}" selected="selected">${language[1]}</option>
                          % else:
                            <option value="${language[0]}" >${language[1]}</option>
                          % endif
                        % endfor
                      </select>
                    </label>
                  </form>
                </li>
              </ol>
            % endif
          % endif
          % if request.user.is_authenticated():
            <ul class="right-top hidden-md  hidden-sm  hidden-lg header-rightbar clearfix">
              <li><a href="javascript:void(0);" class="language-btn" id="language-btn">${('ع' if LANGUAGE_CODE=='en' else 'En')}</a></li>
              <%include file="user_dropdown.html"/>
            </ul>
          % else:
            <ul class="right-top hidden-md  hidden-sm  hidden-lg">
              <li><a href="javascript:void(0);" class="language-btn" id="language-btn">${('ع' if LANGUAGE_CODE=='en' else 'En')}</a></li>
              <li><a class="btn" href="${reverse('signin_user')}">${_("Sign in")}</a></li>
              <li><a class="btn" href="${reverse('register_user')}">${_('Register')}</a></li>
            </ul>
          % endif
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="vision"><a href="http://vision2030.gov.sa/${request.session.get(LANGUAGE_SESSION_KEY, settings.LANGUAGE_CODE)}" target="_blank"><img src="${static.url('images/vision-logo.png')}" alt="KKUx" ></a></div>
          % if request.user.is_authenticated():
            <ul class="right-top header-rightbar clearfix">
              <li><a href="javascript:void(0);" class="language-btn" id="language-btn">${('ع' if LANGUAGE_CODE=='en' else 'En')}</a></li>
              <%include file="user_dropdown.html"/>
            </ul>
          % else:
            <ul class="right-top">
              <li><a href="javascript:void(0);" class="language-btn" id="language-btn">${('ع' if LANGUAGE_CODE=='en' else 'En')}</a></li>
              <li><a class="btn" href="${reverse('signin_user')}">${_('Sign in')}</a></li>
              <li><a class="btn" href="${reverse('register_user')}">${_('Register')}</a></li>
            </ul>
          % endif
          <ul class="nav navbar-nav">
              <li class="${('active' if request.path=='/courses' or request.path=='/courses/' else '')}"><a href="${reverse('courses')}">${_('Skills')}</a></li>
              <li class="${('active' if request.path=='/about' or request.path=='/about/' else '')}"><a href="/about">${_('Why KKUx?')}</a></li>
              <li class="${('active' if request.path=='/contact' or request.path=='/contact/' else '')}"><a href="/contact">${_('Contact')}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</header>
<script type="text/javascript">
  $( document ).ready(function() {
    $( "a#language-btn.language-btn" ).click(function() {
      $('#settings-language-value').val($('#settings-language-value option:not(:selected)').val()).trigger('change');
    });
  });
</script>
