<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<% 
from datetime import datetime
from course_modes.models import CourseMode
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from django.conf import settings
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

from kkux.models import News
%>
<%
    year = datetime.now().year
%>

<div class="page">
    <section class="section-banner">
        <div class="banner-img">
            <img src="${static.url('images/banner-img.png')}" alt="" >  
        </div>
        <div class="banner-text">
            <div class="text-block">
                <h1>${_('Future Skills')}</h1>
                <a class="btn" href="${reverse('register_user')}" >${_('Sign Up')}</a>
            </div>
        </div>
    </section>
    <section class="section welcom">
        <div class="container">
            <h2>${_('Welcome to KKUx')}</h2>
            <div class="text-center">
                <p>${_('KKUx Provides Distinguished and High Quality Content about the Most')}<br>${_('Important Skills For Future Jobs.')}</p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="welcom-block">
                        <div class="icon"><img src="${static.url('images/icon1.png')}" alt="" ></div>
                        <p>${_('Learn how to become an entrepreneur, and how to startup your own business')}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="welcom-block highlight">
                        <div class="icon"><img src="${static.url('images/icon2.png')}" alt="" ></div>
                        <p>${_('Discover the latest ways to solve complex problems and learn how ask the right questions')}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="welcom-block">
                        <div class="icon"><img src="${static.url('images/icon3.png')}" alt="" ></div>
                        <p>${_('Learn tips and techniques to help you to successfully pass IELTS exam, offered by British Council and the Faculty of Languages & Translation at KKU')}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section video-section">
        <div class="container">
            <iframe height="410px" width="64%" src="https://www.youtube.com/embed/aMdOaPtW0gc"></iframe>
        </div>  
    </section>
    </div>
    <section class="section skills">
        <div class="container">
            <h2>${_('Featured Skills')}</h2>
            <div class="row">
                % for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
                    <% 
                        price = CourseMode.min_course_price_for_currency(course.pk,settings.PAID_COURSE_REGISTRATION_CURRENCY[0])
                        if LANGUAGE_CODE == 'ar':
                            short_description = course.short_description_in_arabic if course.short_description_in_arabic else course.short_description
                        else:
                            short_description = course.short_description
                    %>
                    <div class="col-md-4 col-sm-6">
                        <div class="featured-block">
                            <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
                                <div class="image">
                                    <img src="${course.course_image_url}" alt="${course.display_name_with_default}" >
                                </div>
                                <div class="skills-details">
                                    % if LANGUAGE_CODE == 'ar':
                                      <h3>${course.display_name_in_arabic if course.display_name_in_arabic else course.display_name_with_default}</h3>
                                    % else:
                                      <h3>${course.display_name_with_default}</h3>
                                    % endif
                                    <div class="">
                                        % if course.course_category:
                                            <label><i class="fa fa-tags" aria-hidden="true"></i>${course.course_category}</label>
                                        % endif
                                        <span class="free">
                                            %if price == 0:
                                                Free
                                            %else:
                                                ${price} SAR
                                            %endif
                                        </span>
                                    </div>
                                    <p>${short_description}</p>
                                    <ul>
                                        <li><i class="fa fa-users" aria-hidden="true"></i>${enrollments[course]}</li>
                                        <li><i class="fa fa-comments" aria-hidden="true"></i>2</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>7 Days</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                % endfor
            </div>
            <div class="upcoming-skills">
                <h2>${_('Upcoming Skills')}</h2>
                <div class="skills-carousel owl-carousel owl-theme">
                    % for course in upcoming_skills:
                        <%  
                            start_date = course.start
                            date = start_date.strftime("%d")
                            month_year = start_date.strftime("%b %Y")
                        %>
                        <div class="item">
                            <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
                                <div class="upcoming">
                                    <div class="date"><strong>${date}</strong> ${month_year}</div>
                                    <div class="img">
                                        <img src="${course.course_image_url}" alt="${course.display_name_with_default}" >
                                    </div>
                                    <div class="upcoming-details">
                                        <h3>${course.display_name_with_default}</h3>
                                        <p>${course.short_description}</p>
                                        <div class="">
                                            <label><i class="fa fa-tags" aria-hidden="true"></i>Business</label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    % endfor
                </div>
            </div>
            <div class="kku-rector">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="${static.url('images/client.png')}" alt="" >
                    </div>
                    <div class="col-sm-8">
                        <div class="rector">
                            <p>${_('Creativity, innovation and entrepreneurship are essential skills for the future generation. Through KKUx, we seek to diversify the experiences of our learners and provide them with a set of basic skills required for the future jobs.')}</p>
                            <p><strong>${_('Prof. Falleh R. M. Al-Solamy , Rector of King Khalid University')}</strong></p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <%
        news_list = News.objects.filter(language__code=LANGUAGE_CODE)
    %>
    % if len(news_list):
        <section class="section news">
            <div class="container">
                <h2>${_('KKUX News')}</h2>
                <ul>
                    % for news in news_list:
                        <li>
                            <h3><a href="${news.link}" target="_blank">${news.title}</a></h3>
                            <p>${news.short_description}</p>
                        </li>
                    % endfor
                </ul>
            </div>
        </section>
    % endif
    <section class="section achievements ">
        <div class="container">
            <h2>${_('Achievements at')} <img src="${static.url('images/kkux-small-logo.png')}" alt="" ></h2>
            <div class="row">
                <div class="col-sm-4">
                    <h3>${_('Earn Certificate from KKU')}</h3>
                    <p>${_('You will receive a certificate from King Khalid University to post to your professional network')}</p>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="${static.url('images/certificate.png')}" alt="" >
                </div>
                <div class="col-sm-4">
                    <h3>${_('Earn Lifelong Skills')}</h3>
                    <p>${_('You Will earn a New Skill In Your Life')}</p>
                </div>
            </div>
            <div class="our-partners">
                <h2>${_('Our Partners')}</h2>
                <ul>
                    <li><img src="${static.url('images/our-partners-1.png')}" alt="" ></li>
                    <li><img src="${static.url('images/our-partners-2.png')}" alt="" ></li>
                    <li><img src="${static.url('images/our-partners-3.png')}" alt="" ></li>
                    <li><img src="${static.url('images/our-partners-4.png')}" alt="" ></li>
                </ul>
            </div>
        </div>  
    </section>
</div>
<script type="text/javascript">
$(function() {
    $('a[rel*=leanModal]').leanModal({
        top: 60,
        closeButton: "#close_video"
    });
});

function toggleVideo(state) {
    // if state == 'hide', hide. Else: show video
    var div = document.getElementById("iframe_div");
    var iframe = div.getElementsByTagName("iframe")[0].contentWindow;
    div.style.display = state == 'hide' ? 'none' : '';
    func = state == 'hide' ? 'pauseVideo' : 'playVideo';
    iframe.postMessage('{"event":"command","func":"' + func + '","args":""}','*');
}

$(document).ready(function() {
    $(".play-btn").click(function(e) {
        e.preventDefault()
        document.getElementById("youtube_iframe").src = 'https://www.youtube.com/embed/' +this.id + "?autoplay=1&enablejsapi=1"
        document.getElementById("youtube_iframe").playVideo();
    });
});

</script>
