<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<% 
from datetime import datetime
from course_modes.models import CourseMode
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from django.conf import settings
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

from kkux.models import News
%>
<%
    year = datetime.now().year
    category_map = {"Design": "design", "Technology": "technology", "Business": "leads"}
    banner_design = banner_image_courses.get('Design')
    banner_technology = banner_image_courses.get('Technology')
    banner_leads = banner_image_courses.get('Business')
%>
<div class="page">
    <section class="section-banner">
      <div class="main-story">
        <div>
          <div class="story-slide">
              <img src="${static.url('images/story-slide-3.jpg')}" class="img-responsive" alt="image">
              <div class="story-slide-txt">
                <div class="container">
                    <h5>${_('Future jobs')}</h5>
                    <p>${_('Learn the tips and techniques that help')} <br> ${_('you find your future job')}</p>
                    <div class="learn-more">
                        <a href="${reverse('about_course', args=[banner_design.id.to_deprecated_string()]) if banner_design else '#'}">${_('LEARN MORE')}</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div>
            <div class="story-slide">
                <img src="${static.url('images/story-slide-1.jpg')}" class="img-responsive" alt="image">
                <div class="story-slide-txt">
                    <div class="container">
                        <h5>${_('Welcome to KKUx')}</h5>
                        <p>${_('Discover the latest ways to solve complex problems')} <br> ${_('and learn how ask the right questions')}</p>
                        <div class="learn-more">
                            <a href="${reverse('about_course', args=[banner_technology.id.to_deprecated_string()]) if banner_technology else '#'}">${_('LEARN MORE')}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
          <div class="story-slide">
            <img src="${static.url('images/story-slide-2.jpg')}" class="img-responsive" alt="image">
            <div class="story-slide-txt">
                <div class="container">
                    <h5>${_('Organize your Business')}</h5>
                    <p>${_('Learn how to become an entrepreneur, and')} <br> ${_('how to start your own business')}</p>
                    <div class="learn-more">
                        <a href="${reverse('about_course', args=[banner_leads.id.to_deprecated_string()]) if banner_leads else '#'}">${_('LEARN MORE')}</a>
                    </div>
                </div>  
            </div>  
          </div>
        </div>
        
      </div>
    </section>
    <section class="section video-section">
        <div class="container">
            <div class="col-md-7">
                <img src="${static.url('images/video-img.png')}" alt="">
            </div>
            <div class="col-md-5">  
                <div class="text-left video-content">
                    <p><strong>${_('Earn future skills through KKUx')}</strong></p>
                    <p>${_('We are part of the Deanship of e-learning at King Khalid University. We won more than 18 national and international awards in e-learning over the past 10 years. We provide distinguished value of education and high quality of learning experience.')}</p>
                    <p>${_('Learn the skills required for future jobs through our KKUx today. Our online courses will focus on three main topics: design, entrepreneurship and IT. Join us to expand your creative potential.')}</p>
                </div>
            </div>  
        </div>  
    </section>
    <section class="section skills">
        <div class="container">
            <h2 class="text-left page-title"><span>${_('Skills')}</span> </h2>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul class="list-unstyled list-inline skill-tab">
                        <li class="active filter" data-filter=".all"><a href="#!">${_('All')}</a></li>
                        <li><a href="#!" class="filter" data-filter=".design">${_('Design')}</a></li>
                        <li><a href="#!" class="filter" data-filter=".technology">${_('Technology')}</a></li>
                        <li><a href="#!" class="filter" data-filter=".leads">${_('Business')} </a></li>
                    </ul>
                </div>  
            </div>
            <div class="row">
                <div id="portfoliolist">
                % for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio all">
                        <div class="featured-block">
                            <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
                                <div class="image"><img src="${course.course_image_url}" alt="" ></div>
                                <div class="skills-details">
                                    % if LANGUAGE_CODE == 'ar':
                                      <h3>${course.display_name_in_arabic if course.display_name_in_arabic else course.display_name_with_default}</h3>
                                    % else:
                                      <h3>${course.display_name_with_default}</h3>
                                    % endif
                                    <p>${course.short_description}</p>
                                    <ul>
                                        <li><span class="date-icon"><img src="${static.url('images/calendor-icon.png')}"></span> ${course.start.strftime("%d %b %Y")}</li>
                                    </ul>                    
                                </div>
                            </a>
                        </div>
                    </div>
                 % endfor
                 % for category in banner_image_courses:
                    % for course in banner_image_courses[category][:settings.HOMEPAGE_COURSE_MAX]:
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio ${category}">
                        <div class="featured-block">
                            <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
                                <div class="image"><img src="${course.course_image_url}" alt="" ></div>
                                <div class="skills-details">
                                    % if LANGUAGE_CODE == 'ar':
                                      <h3>${course.display_name_in_arabic if course.display_name_in_arabic else course.display_name_with_default}</h3>
                                    % else:
                                      <h3>${course.display_name_with_default}</h3>
                                    % endif
                                    <p>${course.short_description}</p>
                                    <ul>
                                        <li><span class="date-icon"><img src="${static.url('images/calendor-icon.png')}"></span> ${course.start.strftime("%d %b %Y")}</li>
                                    </ul> 
                                </div>
                            </a>
                        </div>
                    </div>
                    % endfor
                 % endfor
                </div>
                <div class="clearfix"></div>
                <div class="btn-action text-center">
                    <a href="${reverse('courses')}"><button class="btn btn-default btn-green">${_('More')}</button></a>
                </div>  
            </div>
        </div>
    </section>
    <section class="section certificates">
        <div class="container">
            <h2 class="text-right page-title"><span>${_('Nanodegree')}</span></h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="certificate-full certificate-img">
                        <img src="${static.url('images/design-full.png')}">
                        <div class="caption"><h2>${_('Design')}</h2><span>${_("Soon")}</span></div>
                    </div>
                </div>  
                <div class="col-md-4 right-space">
                    <div class="certificate-half certificate-img">
                        <img src="${static.url('images/business.png')}">
                        <div class="caption"><h2>${_('Business')}</h2><span>${_("Soon")}</span></div>
                    </div>
                    <div class="certificate-half certificate-img">
                        <img src="${static.url('images/technology.png')}">
                        <div class="caption"><h2>${_('Technology')}</h2><span>${_("Soon")}</span></div>
                    </div>
                </div>  
            </div>
        </div>  
    </section>
    <section class="section testimonial">       
        <div class="container">
            <div class="kku-rector">

                <div class="kku-rector-sliders">
                    <div class="kku-rector-slider-1">
                        <div>
                            <div class="recslider-1-slide">
                                <img src="${static.url('images/testimonial-1.png')}" class="img-responsive" alt="image">
                            </div>
                        </div>
                        <div>
                            <div class="recslider-1-slide">
                                <img src="${static.url('images/testimonial-2.png')}" class="img-responsive" alt="image">
                            </div>
                        </div>
                        <div>
                            <div class="recslider-1-slide">
                                <img src="${static.url('images/testimonial-1.png')}" class="img-responsive" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="kku-rector-slider-2">
                        <div>
                            <div class="recslider-2-slide">
                                <p>${_('Creativity, innovation and entrepreneurship are essential skills for the future generation. Through KKUx, we seek to diversify the experiences of our learners and provide them with a set of basic skills required for the future jobs.')}</p>
                            </div>
                        </div>
                        <div>
                            <div class="recslider-2-slide">
                                <p>${_('Creativity, innovation and entrepreneurship are essential skills for the future generation. Through KKUx, we seek to diversify the experiences of our learners and provide them with a set of basic skills required for the future jobs.')}</p>
                            </div>
                        </div>
                        <div>
                            <div class="recslider-2-slide">
                                <p>${_('Creativity, innovation and entrepreneurship are essential skills for the future generation. Through KKUx, we seek to diversify the experiences of our learners and provide them with a set of basic skills required for the future jobs.')}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>

    <section class="section kku-gains">
        <div class="container">
            <h2 class="text-left page-title"><span>${_('Achievements at KKUx')}</span></h2>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="gains-image">
                        <img src="${static.url('images/gains.png')}">
                    </div>  
                </div>              
                <div class="col-sm-6 col-md-6 ">
                    <div class="gains-list">
                        <h3>${_('Earn Certificate from KKU')}</h3>
                        <p>${_('You will receive a certificate from King Khalid University to post to your professional network')}</p>
                        <h3 class="earn-title">${_('Earn Lifelong Skills')}</h3>
                        <p>${_('You Will earn a New Skill In Your Life')}</p>
                    </div>  
                </div>
            </div>          
        </div>  
    </section>
    <section class="section newsletter">
        <div class="container">
            <div class="text-center mail-icon"><img src="${static.url('images/mail-icon.png')}"></div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center newsletter-box">
                    <div class="direction">
                        <p>${_('Get Notified of any updates!')}</p>
                        <p class="small">${_('Subscribe to our newsletter to be notified about new Courses at')} <strong>KKUx</strong></p>
                    </div>
                    <form class="newsform">
                      <button type="">${_('Subscribe')}</button>
                      <input type="email" placeholder="${_('Your email address')}" name="search2">
                    </form>
                </div>  
            </div>
        </div>
    </section>          

    <section class="section ourpartner-section">
        <div class="container">
            <h2 class="text-right page-title"><span>شركاؤنا</span></h2>
            <div class="row">
                <div class="our-partners">
                    <ul>
                        <li><a href="#"><img src="${static.url('images/b1.jpg')}" alt=""></a></li>
                        <li><a href="#"><img src="${static.url('images/b2.jpg')}" alt=""></a></li>
                        <li><a href="#"><img src="${static.url('images/b3.jpg')}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
$(function() {
    $('a[rel*=leanModal]').leanModal({
        top: 60,
        closeButton: "#close_video"
    });
});

function toggleVideo(state) {
    // if state == 'hide', hide. Else: show video
    var div = document.getElementById("iframe_div");
    var iframe = div.getElementsByTagName("iframe")[0].contentWindow;
    div.style.display = state == 'hide' ? 'none' : '';
    func = state == 'hide' ? 'pauseVideo' : 'playVideo';
    iframe.postMessage('{"event":"command","func":"' + func + '","args":""}','*');
}

$(document).ready(function() {
    $(".play-btn").click(function(e) {
        e.preventDefault()
        document.getElementById("youtube_iframe").src = 'https://www.youtube.com/embed/' +this.id + "?autoplay=1&enablejsapi=1"
        document.getElementById("youtube_iframe").playVideo();
    });
});

</script>
